.pinTop{
    color: white;
    position: absolute;
    top: -10px;
    left: 0PX;
    TRANSFORM: translate(-50%, -100%);
    text-align: center;
    width: 100px;
}


.pinTop h2{
    font-size: 10px;
}


